* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: '游ゴシック', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, 'Helvetica Neue', sans-serif; */
}
h2 {
  color: #c3c3c3;
}
.header,
.footer {
  margin: 0 auto;
  width: 80%;
  background-color: #1b2235;
}
.header-logo {
  margin: 0 auto;
  width: 50%;
  font-size: 50px;
  text-align: center;
  color: #c14d00;
}
.header-logo h1 {
  font-family: "Snell Roundhand"; font-weight: 900;;
}
.main {
  margin: 10px auto;
  width: 80%;
  height: 600px;
  background-color: #1b2235;
}

.sub {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.sub > * {
  width: 30%;
  text-align: center;
  background-color: rgb(167, 50, 0)
}

.footer {
  margin-top: 20px;
}
